<!DOCTYPE html>
<head>
        <meta charset="UTF-8">
        <title>NLP</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="./css2.css">
        <l<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="header"> 
        <div class="icon">homestayUs</div>
        <div class="nav"> 
            <a href="/">
                <span class="text">Quản lý sản phẩm</span> 
            </a>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Duc Huy</button>
            <div class="dropdown-content">
            <a href="#">Quản lý sản phẩm</a>
            <a href="#">Quản lý danh mục</a>
            <a href="#">Quản lý người dùng</a>
            <a href="#">Đăng xuất</a>
            </div>
          </div>
        <!-- <div class="nav-user">Đăng nhập</div>
        <div class="nav-user">Đăng ký</div>  -->
    </div>
    <div class="body">
        <div class="newtable">
            <table id="customers">
                <tr class="titletable" >
                  <th style="background-color: #FA991C;">Landlord</th>
                  <th style="background-color: #FA991C;">...</th>
                  <th style="background-color: #FA991C;">Option</th>
                </tr>
                <tr>
                  <td >Alfreds Futterkiste</td>
                  <td>Maria Anders</td>
                  <td>Germany</td>
                </tr>
               
              </table>
            </div>
            <div class="newtable">
                <table id="customers">
                    <tr class="titletable" >
                      <th style="background-color: #FA991C;">Customer</th>
                      <th style="background-color: #FA991C;">...</th>
                      <th style="background-color: #FA991C;">Option</th>
                    </tr>
                    <tr>
                      <td >Alfreds Futterkiste</td>
                      <td>Maria Anders</td>
                      <td>Germany</td>
                    </tr>
            </table>
            </div>
            <div class="newtable">
            <table id="customers">
                <tr class="titletable" >
                    <th style="background-color: #FA991C;">Sản phẩm</th>
                    <th style="background-color: #FA991C;">Chủ trọ</th>
                    <th style="background-color: #FA991C;">Option</th>
                </tr>
                <tr>
                    <td> <div class="newcard">
                            <img src="https://media.laodong.vn/Storage/NewsPortal/2018/10/19/637067/9-2_Opt.jpg?w=414&h=276&crop=auto&scale=both">
                            <div class="text-name">135B Trần Hưng Đạo</div>
                            <h6>Nhà trọ</h6>
                            <h6>|</h6>
                            <h6>2.000.000đ</h6>
                            <h6>|</h6>
                            <h6>12m<sup>2</sup></h6>
                            <p>Dãy phòng trọ nằm ở 135B Trân Hưng Đạo, có 3 dãy phòng với tổng 50 phòng trọ. Rộng rãi thoải mái</p>
                        </div></td>
                    <td>Maria Anders</td>
                    <td>Germany</td>
                </tr>
            </table>
            </div>
            <div class="newtable">
                <table id="customers">
                    <tr class="titletable" >
                        <th style="background-color: #FA991C;">Danh mục</th>
                        <th style="background-color: #FA991C;">Số lượng</th>
                        <th style="background-color: #FA991C;">Option</th>
                    </tr>
                    <tr>
                        <td >Alfreds Futterkiste</td>
                        <td>Maria Anders</td>
                        <td>Germany</td>
                    </tr>
            </table>
            </div>
    <div class="footer">

    </div>
</body>