<div class="">
    <h1 style="color: #FA991C;
                margin: 30px 20px 20px 20px;">homestayUS</h1>
</div>
<div class="student">
    <div style="color: white; margin-left: 20px;">
        <p>1712490   Huỳnh Đức Huy</p>
        <p>1712868   Châu Xuân Tuấn</p>
    </div>
</div>
<div class="cate">
    <p><a href="#">Phòng trọ</a></p>
    <p><a href="#">Kí túc xá</a></p>
    <p><a href="#">Chung cư</a></p>
    <p><a href="#">Ở ghép</a></p>
    <p><a href="#">Nhà nguyên căn</a></p>
</div>
