<!DOCTYPE html>
<head>
        <meta charset="UTF-8">
        <title>NLP</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="./css2.css">
        <l<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="header"> 
        <div class="icon">homestayUs</div>
        <div class="nav"> 
            <a href="/">
                <span class="text">Phòng trọ</span> 
            </a>
        </div>
        <div class="nav"> 
            <a href="/">
                <span class="text">Kí túc xá</span> 
            </a>
        </div>
        <div class="nav"> 
            <a href="/">
                <span class="text">Chung cư</span> 
            </a>
        </div>
        <div class="nav"> 
            <a href="/">
                <span class="text">Ở ghép</span> 
            </a>
        </div>
        <div class="nav"> 
            <a href="/">
                <span class="text">Nhà nguyên căn</span> 
            </a>
        </div>
        <div class="nav-user">Đăng nhập</div>
        <div class="nav-user">Đăng ký</div> 
    </div>
    <div class="navigation">
        <div class="nav-container">
                <select name="pay">
                    <option value="">--Chọn--</option>
                    <option value="cod" selected="selected">Thanh toán tại nhà</option>
                    <option value="banking">Thanh toán qua Thẻ tín dụng</option>
                </select>
                <select name="pay">
                    <option value="">--Chọn--</option>
                    <option value="cod" selected="selected">Thanh toán tại nhà</option>
                    <option value="banking">Thanh toán qua Thẻ tín dụng</option>
                </select>
                <select name="pay">
                    <option value="">--Chọn--</option>
                    <option value="cod" selected="selected">Thanh toán tại nhà</option>
                    <option value="banking">Thanh toán qua Thẻ tín dụng</option>
                </select>
                <select name="pay">
                    <option value="">--Chọn--</option>
                    <option value="cod" selected="selected">Thanh toán tại nhà</option>
                    <option value="banking">Thanh toán qua Thẻ tín dụng</option>
                </select>
                <div class="btn">
                    <button>Search</button>
                </div>
        </div>
    </div>
    <div class="body">
        <form class="container card" action="/upload" method="post" enctype="multipart/form-data">

            <div class="row justify-content-md-center display-4" style="margin: 15px;">Đăng sản phẩm của bạn</div>

            <hr>

            <div class="row">
                <div class="col-md-5 form-group">
                    <label style="color: black;" for="anh">Example file input</label>
                    <input name="avatar" type="file" class="form-control-file" id="anh" multiple>
                </div>

                <div class="col-md-7">
                    <div class="form-group">
                        <label style="color: black;" for="input_product_name">Tên sản phẩm</label>
                        <input class="form-control form-control-lg" name="name" id="input_product_name" type="text"
                            placeholder="Tên sản phẩm">
                    </div>
                    <div class="form-group">
                        <label style="color: black;" for="gia_hien_tai">Giá hiện tại</label>
                        <div class="input-group" id="gia_hien_tai">
                            <input type="text" class="form-control" name="price" placeholder="000.000 VNĐ">
                            <div class="input-group-append">
                                <span class="input-group-text">VNĐ</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label style="color: black;" for="buoc_gia">Bước giá</label>
                        <div class="input-group" id="buoc_gia">
                            <input type="text" class="form-control" name="pricestep" placeholder="000.000 VNĐ">
                            <div class="input-group-append">
                                <span class="input-group-text">VNĐ</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label style="color: black;" for="mua_ngay">Giá mua ngay</label>
                        <div class="input-group" id="mua_ngay">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox" aria-label="Checkbox for following text input">
                                </div>
                            </div>
                            <input type="text" class="form-control" name="pricenow" aria-label="Text input with checkbox"
                                placeholder="000.000 VNĐ">
                            <div class="input-group-append">
                                <span class="input-group-text">VNĐ</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="example-datetime-local-input" style="color: black;">Hết hạn lúc</label>
                        <input class="form-control" name="datetime" type="datetime-local" value="2020-01-01T00:00:01"
                            id="example-datetime-local-input">
                    </div>
                    <div class="form-group custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="tu_dong_gia_han">
                        <label class="custom-control-label" for="tu_dong_gia_han" style="color: black;">Tự động gia hạn</label>
                    </div>
                </div>
            </div>

            <hr>

            <div class="row justify-content-md-center h3">Mô tả chi tiết sản phẩm</div>
            <div class="row justify-content-md-center">
                <textarea style="margin-top: 50px;" name="content" id="editor">
                    <p>Mô tả chi tiết về sản phẩm của bạn ở đây.</p>
                </textarea>
            </div>

            <hr>

            <div class="row justify-content-md-center">
                <button type="submit" class="btn btn-liht btn-lg btn-block shadow"
                    style="margin: 15px; border-radius: 30px; height: 60px; width:500px;">UPLOAD</button>
            </div>
        </form>
    </div>
</div>
    
<div class="footer">

</div>
</body>