<!DOCTYPE html>
<head>
        <meta charset="UTF-8">
        <title>NLP</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="./css3.css">
        <l<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div class="container-login">
       <div class="form">
           <div class="text">
                <div class="title">LOGIN</div>
                <form>
                    <div class="user-name">
                        <input type="text" placeholder="Username">
                    </div>
                    <div class="user-pass">
                        <input type="password" placeholder="Password" >
                    </div>
                    <div class="submit">
                        <button>Sign in</button>
                    </div>
                </form>
            </div>
       </div>
       <div class="signup">
            Don't have an account? <a href="/">Sign up here!</a>
        </div>
    </div>
</body>