<!DOCTYPE html>
<head>
        <meta charset="UTF-8">
        <title>NLP</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../css3.css">

 
        <l<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div class="container-login">
       <div class="form">
           <div class="text">
                <div class="title">SIGN UP</div>
                <form method="POST">

                    <div class="user-name">
                        <input type="text" name="tenDangNhap" placeholder="Username">
                    </div>
                    <div class="user-pass">
                        <input type="password" name="matKhau" placeholder="Password" >
                    </div>
                    <div class="user-pass">
                        <input type="text" name="hoTen" placeholder="Your name" >
                    </div>
                    <div class="user-pass">
                        <input type="text" name="soDienThoai" placeholder="Phone number" >
                    </div>
                    <div class="user-pass">
                        <input type="text" name="soCMND" placeholder="CMND" >

                    </div>
                    <div class="user-pass">
                        <input type="text" name="diaChi" placeholder="Address" >
                    </div>
                    <div class="radio"> 
                        <input type="radio" id="male" name="phanQuyen" value="1">
                        <label for="male">  Khách</label><br>
                        <input type="radio" id="female" name="phanQuyen" value="2">
                        <label for="female">  Chủ trọ</label><br>
                    </div>
                    <div class="submit">
                        <button type="submit">Sign up</button>
                    </div>
                </form>
            </div>  
       </div>
    </div>
</body>